.content-container {
    position: fixed;
    top: 0;
    left: 240px;
    right: 0;
    bottom: 0;
}

.content {
    padding: 25px 50px;
}

pre {
    background: #353535;
    color: white;
    padding: 25px 5px;
    font-weight: bold;
}